<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/process" method="post">
      <p>Mongoose Name <input type="text" name="name"></p>
      <p>Mongoos Age <input type="text" name="age"></p>
      <p><button type="submit" >Add</button></p>
    </form>
  </body>
</html>
</html>
